.textField {
  width: 500px;
}

// .navbar-header {
//   float: left;
//   padding: 15px;
//   text-align: center;
//   width: 100%;
// }
// .navbar-brand {
//   float: none;
// }

$primary: #ff9914;
$warning: #ff9914;
//$font-size-lg: 25;

$btn-font-family: 'Unica One', sans-serif;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
