.textField {
    width: 500px;
  }

$primary: #FF9914;
$warning: #FF9914;

$btn-font-family: 'Unica One', sans-serif;

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';